* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}


header {
  background-color: #f04c4c;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo img {
  height: 65px;
  width: 65px;
  cursor: pointer;
  
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar input {
  height: 30px;
  width: 200px;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search-bar button {
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-links a:hover {
  background-color: #666;
}

.login button {
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
}

.hamburger-menu button {
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
}



footer {
  background-color: #f04c4c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer div {
  flex: 1 1 auto;
  margin: 0 10px;

}

footer h4 {
  margin-top: 0;

}

footer p {
  margin-bottom: 0;
}

main {
  flex-grow: 1;
}